:root {
  --background_color: #ffffff;
  --theme-color:#3145ff;
  --Accent-color: #EB2D66;
  --Secondary-color:#9094b8;
  --footer-banner-font-color: #ffffff;
  --main-font-color: #2a2d46;
  --footer-bg-color: #343A62;
  --pics-shadow-box:rgba(49,69,255,0.07);
  --nav-rect-shadow-box:rgba(0,0,0,0.23);
  --font: system-ui, -apple-system, "Monsterrat";
  --h2-size:25px;
  --paragraph-size:15px;
  --h3-size:20px;
  --h2-size-mobile:18px;
  --text-size:12px;
  --bold-text-size:36px;
}

body{
  width: 150%;
  right: 10px;
  overflow-x: hidden;
}
#header {
  
  display: flex;
  align-items: center;
  width: 1600px;
  height: 84px;
  margin-top: -20px;
  background-color:var(--background_color)  ;
  font-family: var(--font);
  color: var(--main-font-color);
  font-size: var(--text-size);
  
}
#burger-menu,[for=burger-menu],nav{
  display: none;
}
.logo_1 {
  width: 29px;
  height: 29px;
  border-top: 40px;
  background-color: var(--logo-bg_color);
  margin-left: 219px;
  margin-right: 15px;
  transform: rotate(45deg);
}
img{
  max-width: 100%;
  max-height: 100%;
}
.basketballer_head{
  color: var(--theme-color);
  font-weight: 700;
}
.logo_2 {
  background-color: var(--logo-bg_color);
  width: 25px;
  height: 25px;
}

.items {
  width: 235px;
  height: 15px;
  display: flex;
  &.hd,
  &.ft {
  margin-left: 30px;
  gap: 32.5px;
  }
  &.hg {
  margin-left:450px;
  gap: 63.5px;
  margin-top: -45px;
  }
}
.item:hover{
    color:#3145ff;
    cursor: pointer;
}


.triple_dot {
  display: flex;
  gap: 4px;
  margin-left: 64px;
  margin-right: 100px;
  width: 23px;
  text-align: center;
}
.triple_dot:hover{
  cursor: pointer;
  color: #3145ff;
}
.phone-number{
  width: 119px;
  height: 15px;
  font-weight: 700;
  position: absolute;
  margin-left: 900px;
  &.ft{
    margin-left: 1045px;
  }
}
.book_call {
  margin-left: 30px;
  width: 123px;
  height: 25px;
  border:solid 1px var(--Accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--Accent-color);
  font-weight: 700;
  position: absolute;
  margin-left: 1065px;
  &.foot{
    margin-left: 1262px;
  } 
}



.shopping_basket {
  margin-left: 1245px;
  width: 125px;
  height: 25px;
  display: flex;
  align-items: stretch;
  align-items: center;
  gap: 15px;
  position: absolute;
}
.basket_triangle {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}
#first_screen {
  width: 1600px;
  height: 455px;
  font-family: var(--font);
  color: var(--main-font-color);
}
.offer{
  margin-left: 215px;
  margin-top: 150px;
  width: 544px;
  height: 279px;
  font-size: var(--offer-text-size);
  display: flex;
  flex-direction: column;
  gap:25px;
  
}
.offer_text_b{
  font-weight: 900;
  font-size: var(--bold-text-size);
}
.offer_text{
  width: 380px;
  height:102px;
  font-size:var(--h2-size-mobile);
  font-weight: 400;
}
button{
  width: 270px;
  height: 67px;
  background-color: var(--Accent-color);
  color: var(--footer-banner-font-color);
  font-size: var(--paragraph-size);
  font-weight: 700;
  border:0;
  box-shadow:0 7px 35px 0 rgba(235, 45, 102, 0.36);;
  transition: transform .2s;
}
button:hover{
  transform: scale(110%);
  transition: transform .2s;
}
.snickers_bg {
  width: 615px;
  height: 369px;
  margin-left:760px;
  margin-top: -405px;
  display: flex;
  gap: 10px;
  background:linear-gradient(to right,rgba(49,69,255,0.5) 60%),url('bg-image.jpg');
  background-size: cover;
  justify-content:flex-end;
  padding: 36px;
  position: absolute;
  color: var(--footer-banner-font-color);
}
.first_scr_image{
    width: 554px;
    height: 332px;
    top: 164px;
    right: 320px;
    position: absolute;
  }

.desc{
  width: 253px;
  height:82px;
  margin-right:-220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.desc-square{
  width:13px;
  height:13px;
  background-color: var(--background_color);
  }
 .desc-product{
    font-weight: 700;
    font-size: var(--h2-size-mobile);
  }
  .desc-description{
    font-weight: 400;
    font-size: var(--text-size);
  }
  .desc-price{
    font-weight:700;
    font-size: var(--text-size);
    color: var(--footer-banner-font-color);
  } 

.slide_rect {
  align-self: flex-end;
  width: 42px;
  height: 8px;
  background-color: var(--background_color);
  margin-top: 456px;
  &.rect_2 {
  background-color: white;
  }
  &.rect_1,
  &.rect_3{
    background-color:rgba(218,215,215,0.35);
  }
}


#hot_goods {
  width: 1292px;
  height: 576px;
  margin-left: 174px;
  margin-top: 30px;
  font-family: var(--font);
  color: var(--main-font-color);
  h2{
  margin-left: 55px;
  font-weight: 900;
  font-size: var(--h2-size);
  }
}
.pics_goods{
  display: flex;
  gap:30px;
  margin-top: 80px;
}
.pic{
  width: 270px;
  height: 417px;
  box-shadow: 0 15px 30px 0 var(--pics-shadow-box);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:8px;
  text-align: center;
  font-size: var(--paragraph-size);
}
 .title{
  font-weight: 900;
  }
.img{
  height: 153px;
}
.pic_des{
  font-weight: 400;
  font-size: var(--pic-desc-f-size);
  
}
.del-price{
  margin-top: 38px;
}
.price{
  color: var(--theme-color);
  font-weight:700;
  margin-right:152px;
  font-size: var(--h2-size-mobile);
}
.pic_arrow{
  margin-left:180px;
  margin-top: -25px;
}
.pic_arrow:before{
  content: "";
  position: absolute;
  width:32px;
  display: block;
  border:solid 1px  var(--Accent-color);
  margin-top: 10.5px;
  margin-left:-7.5px;
}
.pic_arrow:after{
  content:"";
  transform: rotate(45deg);
  display: block;
  border:solid 1px var(--Accent-color);
  border-left:0;
  border-bottom:0;
  width: 22px;
  height:22px;
}
.arrow {
  align-self: center;
  width: 23px;
  height: 23px;
  border: 2px solid var(--Secondary-color);
  border-left: 0;
  border-top: 0;
  &.left {
  transform: rotate(135deg);
    }
  &.right{
  transform: rotate(-45deg);
  }
  &.left,
  &.right:hover{
    cursor: pointer;
  }
}



.nav_panel {
  padding-top: 20px;
  width: 1480px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left:407px ;
}
.nav_line {
  width: 470px;
  height: 6px;
  background-color: #e2e4f2;
}
.nav_rect {
  width: 47px;
  height: 13px;
  background-color: var(--Secondary-color);
  position: absolute;
  margin-left: 197px;
  box-shadow: 0 2px 10px 0 var(--nav-rect-shadow-box);
}
.nav_rect:hover{
  cursor: pointer;
  transform: scale(110%);
  transition: .2s;
}
#banners {
  width: 1167px;
  height: 419px;
  margin-left: 230px;
  margin-top: 85px;
  display: flex;
  gap: 40px;
  
  font-family: var(--font);
}
.banner {
  width: 570px;
  height: 419px;
  background-color: var(--photo-background-color);
  box-shadow: 0 15px 30px 0 var(--pics-shadow-box);
  color:var(--footer-banner-font-color);
  &.one{
    background:linear-gradient(rgba(17, 13, 251, 0.69),rgba(116, 114, 243, 0.81)),url("Banner-1.jpg");
    background-size: cover;
  }
  &.two{
    background:linear-gradient(rgba(140, 0, 251, 0.76),rgba(214, 30, 244, 0.31)),url("Banner-2.jpg");
    background-size: cover;
  }
  &.square{
    width: 19px;
    height:19px;
    background-color: var(--background_color);
    margin-left: 60px;
    margin-top: 255px;
  }
}
  .banner-text-b{
    h3{
    width: 250px;
    font-weight: 900;
    font-size: var(--h3-size);
    }
  }
  .banner-text-small{
    font-weight: 400;
    font-size: var(--paragraph-size);
  }
.plus{
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  float: right;
  margin: 10px;
  letter-spacing: 0%;
}
.banner-text-b{
    font-weight: 900px;
    font-size: var(--h3-size);
    h3{
      margin-left: 85px;
      margin-top: 5px;
      margin-bottom: 3px;
    }
  }
.banner-text-small{
  font-size: var(--paragraph-size);
  font-weight: 400px;
  margin-left: 85px;
}
#catalogue {
  width: 1171px;
  height: 945px;
  margin-top: 125px;
  margin-left: 215px;
  font-family: var(--font);
  color: var(--main-font-color);
  h2{
    font-weight: 900;
    font-size: var(--h2-size);
  }
}
.pics_catalogue{
  display: grid;
  grid-template-columns: repeat(4, 235px);
  grid-template-rows: repeat(2, 335px);
  gap: 100px;
  margin-top: 80px;
  column-gap: 80px;
}

#about_us {
  width: 1300px;
  height: 144px;
  margin-left: 215px;
  font-family: var(--font);
  margin-top: 152px;
  color: var(--main-font-color);
  h2{
    margin-left: 27px;
    font-weight: 900;
    font-size: var(--h2-size);
  }
}
.numbers {
  gap: 90px  ;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:27px;
}
.number {
  margin-top: 50px;
}
.num {
  font-weight: 900;
  font-size: 50px;
}
sup {
  font-size: var(--paragraph-size);
  font-weight:400;
}
#footer {
  width: 3200px;
  height: 276px;
  background-color: var(--footer-bg-color);
  margin-left: -1000px;
  margin-bottom: -10px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  font-family: var(--font);
  color: var(--footer-banner-font-color);
  font-size: var(--text-size);
  padding-left: 1000px;

}
.arrow_up {
  position: relative;
  margin-right: 130px;
  margin-bottom: 37px;
}

.arrow_up::before {
  content: "";
  position: absolute;
  display: block;
  border: solid 1px var(--footer-banner-font-color);
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  border-bottom: 0;
  border-right: 0;
  top: 4.5px;
}
.arrow_up::after {
  content: "";
  position: absolute;
  display: block;
  height: 45px;
  border: solid 1px var(--footer-banner-font-color);
  left: 12.6px;
}
@media (max-width:1024px){
  #header{
    width: 1054px;
  }
  body{
    overflow-x:auto;
    width: 1024px;
  }
  .logo_1{
    margin-left:15px;
  }
  .book_call,
  .items,
  .triple_dot{
    &.hd{
      display: none;
    }
  }
  .phone-number{
    position: absolute;
    &.hd{
    margin-left: 331px;
    }
    &.ft{
      margin-left: 13px;
      margin-top: 135px;
    }
  }
  .shopping_basket{
    position: absolute;
    margin-left: 527px;
  }
  [for=burger-menu]{ 
    transform: scale(2);
    position: fixed;
    top: 15px;
    right: 15px;
    color: #000;
    display: block;
    z-index: 2;
  }
  [for=burger-menu]::before{
    content: "☰";
  }
   #burger-menu:checked+[for=burger-menu]::before{
    content: "✖";
    color:white;
  }
  #burger-menu:checked+label+nav{
      display: block;
      animation: move-to-left 1s;
    }
  @keyframes move-to-left{
    0%{
      translate: 110vw;
    }
  }
  
  
  nav{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.73);
    z-index:1;
    top: 0;
    width: 100%;
    height: 120%;
    right: 0;
    text-align: end;
    ul{
    margin-top: 50px;
    list-style-type: none;
      li{
        margin-bottom: 15px;
      }
      a{  
        margin-right: 10px;
        color: var(--footer-banner-font-color);
        user-select: none;
        text-decoration: none;
        font-size: var(--paragraph-size);
      }
    }
  }
  
  
  #first_screen{
    height:770px;
  }
  .offer{
    margin-top: 13px;
    margin-left:13px;
  }
  .snickers_bg{
    position:absolute;
    margin-left: 13px;
    margin-top: 52px;
    margin-bottom: 300px;
  }
  .first_scr_image{
    right: 195px;
    top:84px;
  }
  .desc-square{
    margin-top: 169px;
  }
  .desc{
    margin-top: 179px;
  }
  #hot_goods{
    margin-left:0;
    h2{
      margin-left: 13px;
      font-size: var(--h2-size-mobile);
    }
  }
  .arrow{
    display: none;
  }
  .items{
    &.hg{
      
      margin-left: 369px;
      gap: 28px;
    }
    &.ft{
      position: absolute;
      margin-top: 92px;
      margin-left: 13px;
    }
  }
  .nav_panel{
    margin-left:149px ;
  }
  .pics_goods{
    margin-left: 15px;
  }
  #banners{
  margin-left: 15px;
  }
  #catalogue{
    margin-left: 15px;
  }
  .pics_catalogue{
  grid-template-columns: repeat(2, 235px);
  grid-template-rows: repeat(4, 335px);
  }
  #about_us{
    margin-top: 1000px;
    margin-left: 11px;
  }
  .numbers{
    height: 200%;
    display: grid;
    grid-template-columns: repeat(2,225px);
    grid-template-rows:repeat(2,55px);
    overflow: auto;
  }
  #footer{
    position: absolute;
    align-items: flex-start;
    width: 1800px;
    .logo_1{
      margin-top: 40px;
    }
  }
  .basketballer_foot{
    margin-top: 40px;
  }
  .triple_dot{
    margin-top: 82px;
  }
  .arrow_up{
    margin-top: 190px;
    position: absolute;
    right: 1020px;
  }
  .book_call{
    &.foot{
      position: absolute;
      margin-left: 13px;
       margin-top: 195px;
    }
   
  }
}
@media(max-width:456px){
  body{
    overflow-x:auto;
    width: 476px;
  }
  #header{
    width: 486px;
  }
  
  .logo_1{
    margin-left:15px;
  }
  .book_call,
  .items,
  .triple_dot{
    &.hd{
      display: none;
    }
  }
  .phone-number{
    position: absolute;
    &.hd{
      margin-top: 70px;
      margin-left: 15px;
    }
    &.ft{
      margin-left: 82px;
      margin-top: 120px;
    }
  }
  .shopping_basket{
    margin-top: 70px;
    margin-left: 185px;
  }
  .burger-menu{
    width: 19px;
    height: 12px;
    position:absolute;
    margin-left: 290px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-height: 100%;
    overflow-y: auto;
  }
  .burger-menu-rect{
    width: 19px;
    height: 2px;
    background-color: var(--main-font-color);
  }
  #first_screen{
    height:770px;
    width: 220px;

  }
  .offer{
    width: auto;
    margin-top: 13px;
    margin-left:13px;
  }
  .offer_text_b{
      font-size: var(--h2-size-mobile);
  }
  .offer_text{
    font-size:var(--paragraph-size);
  }
  .snickers_bg{
    position:absolute;
    margin-left: 13px;
    margin-top: 52px;
    margin-bottom: 300px;
    width: 320px;
    height: 345px;
  }
  .first_scr_image{
    right: 60px;
    top:84px;
    width: 75%;
    height: 75%;
  }
  .desc-square{
    margin-top: 200px;
    left: 13px;
    position: absolute;
  }
  .desc{
    margin-top: 210px;
    position: absolute;
    left: 35px;
  }
  .slide_rect{
    right: 0;
  }
  #hot_goods{
    margin-left:0;
    h2{
      margin-left: 13px;
      font-size: var(--h2-size-mobile);
    }
  }
  .arrow{
    display: none;
  }
  .items{
    &.hg{
      margin-top: 32px;
      margin-left: 13px;
      gap: 27px;
    }
    &.ft{
      position: absolute;
      margin-top: 82px;
      margin-left: 13px;
      gap: 24px;
    }
  }
  .nav_panel{
    margin-left:13px ;
    width: 311px;
  }
  .nav_rect{
    margin-left: 82px;
  }
  .pics_goods{
    margin-left: 15px;
  }
  #banners{
  margin-left: 15px;
  }
  .banner{
    width: 20%;
    height: 120%;
    &.square{
      margin-left:5px;
    }
  }
  .banner-text-b{
    h3{
      margin-left: 15px;
    }
  }
  .banner-text-small{
    margin-left: 15px;
  }
  #catalogue{
    margin-left: 15px;
    h2{
      font-size: var(--h2-size-mobile);
    }
  }
  .pics_catalogue{
  grid-template-columns: repeat(4, 235px);
  grid-template-rows: repeat(2, 335px);
  }
  #about_us{
    margin-top: 75px;
    margin-left: 11px;
    h2{
      font-size: var(--h2-size-mobile);
    }
  }
  .numbers{
    height: 350%;
    display: grid;
    grid-template-columns: repeat(1,250px);
    grid-template-rows:repeat(4,5px);
    overflow: auto;
  }
  #footer{
    align-items: flex-start;
    margin-top: 290px;
    position: absolute;
    width: 1314px;
    .logo_1
    {
      margin-top: 20px;
      margin-left: 41px;
      
    }
  }
  .basketballer_foot{
      position: absolute;
      margin-top: 20px;
      margin-left: 82px;
    }
  .triple_dot{
    margin-top: 82px;
    margin-left: 194px;
  }
  .arrow_up{
    margin-top: 195px;
    right: 1055px;
  }
  .book_call{
    &.foot{
      position: absolute;
      margin-left: 72px;
       margin-top:150px;
    }
  }
}